<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <h1><%= @post.title %></h1>
    <p class="lead"><%= @post.body %></p>
    <p class="text-right">
    <%= link_to 'edit', edit_post_path %> |
    <%= link_to 'delete', post_path, method: :delete,
            data: { confirm: 'Má oooee, Você está certo dissoammm? ' } %></p>

    <h5> Comments </h5>
    <hr/>
    <% @post.comments.each do |comm| %>
    <%= comm.body %>
    <p class="text-right">
    <%= link_to "delete", post_comment_path(@post, comm), method: :delete,
                                                  data: {confirm: "Are you sure?"} %></p>


    <br>
    <hr/>
    <% end %>

    <%= form_for [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :body, "comment" %>
        <%= f.text_area :body, :placeholder => "post a comment!", class: "form-control", rows: "3" %>
      </div>
      <%= f.submit " comment ", class: "btn btn-success btn-sm btn-block"  %>
    <% end %>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

</div>
<div class="col-md-4"></div>
</div>
