<!-- <div class="hero">
<div class="hero__background" ><%= image_tag @post.image.url(:post_size)%></div>
  <h1 class="hero__title">Image Blur</h1>
</div> -->

<!-- titulo do post -->

<h2><%= @post.title %></h2>

<!-- created by -->
<% if @post.user %>
  <p class="text-left">
  <%= image_tag @post.user.image.url(:thumb), class: "img-circle" %>
  <%= link_to @post.user.full_name, user_path(@post.user.id) %></p>
<% end %>

<!-- image -->
<% if @post.image.present? %>
  <%= image_tag @post.image.url(:post_size) %>
<% end %>


<!-- edit delete -->
<p class="text-right">
  <% if can? :edit, @post %>
    <%= link_to fa_icon("pencil-square-o"), edit_post_path(@post), class: "icon-comm-destroy" %>
  <% end %>

  <% if can? :destroy, @post %>
    <%= link_to fa_icon("trash"), post_path(@post), method: :delete, class: "icon-comm-destroy",
            data: { confirm: 'Má oooee, Você está certo dissoammm? ' } %>
  <%end%>
</p>

<!-- body -->
<p class="lead"><%= @post.body %></p>

<!-- tags -->
<% if @post.tags.any? %>
  tags: <% @post.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
<% end %>

<!-- vote button -->
<div class="text-right">

  votes: <%= @post.vote_result %>
  <% if !user_signed_in? || !@post.voted_on_by?(current_user) %>
    <%= link_to fa_icon("arrow-circle-up"), post_votes_path(@post,
    {vote: {is_up: true}}), method: :post, class: "icon-vote-green text-success"%>
    <%= link_to fa_icon("arrow-circle-down"), post_votes_path(@post,
    {vote: {is_up: false}}), method: :post, class: "icon-vote-red text-danger"%>

  <% elsif @post.vote_for(current_user).is_up? %>
    <%= link_to fa_icon("arrow-circle-up"), post_vote_path(@post, @post.vote_for(current_user)),
    method: :delete, class: "icon-vote-green text-success" %>
    <%= link_to fa_icon("arrow-circle-down"), post_vote_path(@post, @post.vote_for(current_user),
    vote: {is_up: false}), method: :delete, class: "icon-vote-red text-danger"%>

  <% elsif !@post.vote_for(current_user).is_up?%>
    <%= link_to fa_icon("arrow-circle-up"), post_vote_path(@post, @post.vote_for(current_user),
    vote: {is_up: true}), method: :patch, class: "icon-vote-green text-success"%>
    <%= link_to fa_icon("arrow-circle-down"), post_vote_path(@post, @post.vote_for(current_user)),
    method: :delete, class: "icon-vote-red text-danger"%>

  <% end %>


<!-- like button  -->

  <div id="like">
      <%= render 'likes/like' %>
  </div>

</div>



<!-- create comment -->
<div class="form-group">
  <%= form_for [@post, @comment], remote: true do |f| %>
    <%= f.label :body, "Write a comment" %>
    <%= f.text_area :body, class: "form-control", rows: "3" %>
    <br>
    <%= f.submit "Comment", class: "btn btn-primary btn-md btn-block", data: {disable_with: "Saving..."}  %>
  <% end %>
</div>

<!-- comments -->
<div id="comment">
  <% @post.comments.each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
  <% end %>
</div>


<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
